.aboutus {
    position: relative;
    opacity: 1;
    background-color: black;
    background-image: url("../../images/about-back.jpg");
    background-size: cover;
    overflow: hidden;
    width: 100%;
    padding: 0;
    padding-top: 50px;
    margin: 100px auto 150px auto;
}
.aboutus::after{
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    content: '';
    background-color: black;
    opacity: .5;
}
.aboutus__fog {
    position: absolute;
    top:0;
    left: 0;
    height: 300px;
    display: block;
    z-index: 10;
    object-fit: cover;
    width: 100%;
    margin-bottom: 50px;
}

.aboutus__link-down {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    margin: 100px auto 10px auto;
    background: transparent;
    border: none;
    transition: .3s;
    outline: none;
    z-index: 15;

}

.aboutus__link-down:hover {
    transform: scale(1.1);
}

.aboutus__link-down img {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
}

.aboutus__title {
    z-index: 10;
    text-align: center;
    color: #F29100;
    font-size: 67px;
    font-weight: bold;
    margin-bottom: 50px;
}

.aboutus__icons {
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 250px;
}

.aboutus__card {
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
}
.aboutus__card:first-of-type{

}
.aboutus__text {
    z-index: 10;
    color: white;
    font-size: 24px;
    text-align: center;

}
.aboutus__text span {
    font-size: 18px;
    font-weight: lighter;
}
.aboutus__icon {
    width: 90px;
    height: 90px;
    margin-bottom: 30px;
}
@media (max-width: 930px) {
    .aboutus__icons{
        flex-direction: column;

    }
    .aboutus__title{
        font-size: 48px;
    }
}
@media (max-width: 560px) {
    .aboutus__icons{
        flex-direction: column;

    }
    .aboutus__title{
        font-size: 36px;
        max-width:90%;
        margin: 0 auto;
    }
}
