.burger {
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: linear-gradient(to bottom, #000 20%, transparent 21%, transparent 40%,
    #000 41%, #000 60%, transparent 61%, transparent 80%, #000 81%);
    transition: .3s;
    display: none;
}

.burger_active {
    background: linear-gradient(45deg, transparent 45%, #000 46%, #000 55%, transparent 56%),
    linear-gradient(-45deg, transparent 45%, #000 46%, #000 55%, transparent 56%);
}

@media (max-width: 980px) {
    .burger{
        display: none;
    }
}
